@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap);

body {
  /* プロジェクトによって変動 */
  color: #3e3e3e;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "Sogoe UI", Verdana,
    "メイリオ", Meiryo, sans-serif;
  -moz-osx-font-smoothing: grayscale;

  /* safari hover対策 */
  -webkit-font-smoothing: antialiased;
  font-variant-numeric: tabular-nums;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
}

main {
  background-color: #f3f3f3;
}

/* IE11だけに適応 */
_:lang(x)::-ms-backdrop,
body {
  font-family: "Segoe UI", "メイリオ", Meiryo, sans-serif;
}

// コンパイル後のメディアクエリの記述順調整のためのハック----------
@media screen and (max-width: 1085px) {
  body {
    color: #000;
  }
}

@media screen and (max-width: 767px) {
  body {
    color: #000;
  }
}
// ------------------------------------------------------------------
