@import "../module/mixins";

.access {
	padding: 130px 24px 0;
	position: relative;
	@include mq("tab") {
		padding-top: 80px;
	}
	@include mq("sp") {
		padding: 40px 16px 134px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		margin: auto;
		max-width: 1180px;
		@include mq("sp") {
			display: block;
		}
	}
	&__address-wrap {
		color: #fff;
		margin-right: 16px;
		min-width: 326px;
	}
	&__title {
		@include sectionTitle;
	}
	&__address-text {
		margin-top: 40px;
	}
	&__btn-wrap {
		@include mq("sp") {
			bottom: 40px;
			padding: 0 16px;
			position: absolute;
			right: 0;
			width: 100%;
		}
	}
	&__btn {
		@include outlineBtn;

		border: 1px solid #fff;
		color: inherit;
		letter-spacing: 0.09em;
		margin-top: 40px;
		text-transform: capitalize;
		white-space: nowrap;
		&:hover {
			background: #fff;
			color: #000;
		}
		@include mq("sp") {
			margin: 0;
		}
	}
	&__iframe-wrap {
		width: 720px;
		@include mq("sp") {
			margin-top: 20px;
			width: 100%;
		}
	}
	&__iframe-wrap-inner {
		padding-top: calc(515 / 720 * 100%);
		position: relative;
		width: 100%;
		iframe {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}
