@import "../module/mixins";

.common {
	&__to-top {
		background-color: rgba(255, 255, 255, 0.8);
		border: 1px solid #3e3e3e;
		bottom: 40px;
		height: 50px;
		opacity: 0;
		position: fixed;
		right: 40px;
		transition: 0.3s;
		visibility: hidden;
		width: 50px;
		z-index: 10;
		[data-whatinput="keyboard"] &:focus {
			outline: 2px solid rgb(73, 115, 255);
		}
		&::after {
			border-right: solid 3px #3e3e3e;
			border-top: solid 3px #3e3e3e;
			content: "";
			height: 15px;
			left: 15px;
			position: absolute;
			top: 20px;
			transform: rotate(-45deg);
			width: 15px;
		}
		&.is-active {
			opacity: 1;
			visibility: visible;
		}
		@include mq("sp") {
			bottom: 16px;
			right: 16px;
		}
	}
	&__to-top-hidden {
		border: 0;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}
	&__bg-black {
		position: relative;
		&::before {
			background-color: #3e3e3e;
			bottom: 72px;
			content: "";
			display: block;
			position: absolute;
			top: 150px;
			width: 71.7%;
			@include mq("tab") {
				bottom: -30px;
			}
			@include mq("sp") {
				bottom: 0;
				top: 60px;
				width: 100%;
			}
		}
	}
}
