@import "../module/mixins";

.header {
  &__mainvisual {
    height: 100vh;
    padding: 0 24px;
    background-image: url(/images/mainvisual_min.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include mq("tab") {
      background-position: 20% center;
    }

    @include mq("sp") {
      padding: 0 16px;
    }

    @include retina {
      background-image: url(/images/mainvisual@2x_min.png);
    }
  }

  &__mainvisual-inner {
    position: relative;
    width: 1180px;
    max-width: 100%;
    height: 100%;
    margin: auto;
  }

  &.is-drawerActive::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__message {
    position: absolute;
    top: 50%;
    right: 0;
    width: 44.40677966101695%;
    padding-right: 16px;
    padding-bottom: 4.225352112676056%;
    line-height: 1.8;
    transform: translateY(-50%);

    @include mq("sp") {
      position: relative;
      width: 100%;
      padding: 0;
    }

    &--sub {
      margin-top: 40px;
    }

    &--btn {
      @include yellowBtn;

      margin-top: 40px;

      @include mq("sp") {
        display: block;
        margin: 40px auto 0;
      }
    }
  }
}
