@import "../module/mixins";

.nav {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 10px;
  background-color: #d6d6da;
  &__list {
    display: flex;
    justify-content: space-between;
    width: 675px;
    max-width: 100%;
    padding: 0 24px;
    margin: auto;
  }
  &__list-item {
    @include englishFont;
    font-weight: 400;
    &:not(:nth-child(6)) {
      text-transform: capitalize;
    }
  }
  &__item-link {
    position: relative;
    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background: #333;
      transform: scale(0, 1);
      transform-origin: center top;
      transition: 0.3s;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }
  &__sp-header {
    display: none;
  }
  &__toggle {
    display: none;
  }
}
@include mq("sp") {
  .nav {
    top: 0;
    right: -100vw;
    width: 300px;
    max-width: 80%;
    height: 100%;
    background-color: #fff;
    transition: 0.5s transform;
    transition-timing-function: cubic-bezier(0.38, 0.52, 0.23, 0.99);
    &.is-drawerActive {
      transform: translateX(-100vw);
    }
    &__list {
      flex-direction: column;
    }
    &__item {
      width: 100%;
      padding: 0;
      font-size: 18px;
      text-align: center;
      letter-spacing: -0.45px;
      transition: 0.3s;
      &:not(:first-child) {
        margin: 20px 0 0 0;
      }
    }
    &__sp-header {
      position: fixed;
      display: block;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 68px;
      padding: 16px;
      padding: 0 16px;
      background-color: #fff;
    }
    &__sp-logo-img {
      @include imgDef;
    }
    &__toggle {
      position: fixed;
      top: 14px;
      right: 16px;
      z-index: 10;
      display: inline-block;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-color: transparent;
      border-radius: 50%;
      outline: none;
      transition: 0.5s;
      transition-timing-function: cubic-bezier(0.61, -0.38, 0.37, 1.27);
      [data-whatinput="keyboard"] &:focus {
        box-shadow: 0 0 4px rgba(62, 62, 62, 0.8);
      }
      &--line {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 24px;
        height: 4px;
        margin: auto;
        background-color: #3e3e3e;
        border-radius: 16px;
        transition: inherit;
        transition: 0.1s;
        &::before,
        &::after {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          content: "";
          background-color: inherit;
          border-radius: 16px;
          transition: inherit;
          transition: 0.1s;
        }
        &::before {
          top: -8px;
        }
        &::after {
          top: 8px;
        }
      }
      &[aria-expanded="true"] {
        transform: translateX(-300px);
        .nav__toggle--line {
          visibility: hidden;
          &::before {
            top: 0;
            visibility: visible;
            background-color: #fff;
            transform: rotate(45deg);
          }
          &::after {
            top: 0;
            visibility: visible;
            background-color: #fff;
            transform: rotate(-45deg);
          }
        }
      }
    }
    &__visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0 0 0 0);
      white-space: nowrap;
      border: 0;
      clip-path: inset(50%);
    }
  }
}
