@import "../module/mixins";

.price {
  padding: 0 24px;
  background-color: #f3f3f3;
  padding-bottom: 130px;
  &__container {
    max-width: 960px;
    margin: auto;
  }
  &__title {
    @include sectionTitle;
    padding: 60px 0;
    text-align: center;
  }
  &__table {
    width: 100%;
  }
  &__table-head {
    @include englishFont;
    background-color: #3e3e3e;
    color: #fff;
    font-weight: 600;
    line-height: 1;
    border: 1px solid #707070;
    padding: 20px 0;
  }
  &__table-data {
    @include englishFont;
    background-color: #fff;
    font-weight: 600;
    line-height: 1;
    border: 1px solid #707070;
    padding: 20px 0 20px 30px;
  }
  &__note {
    display: block;
    margin-top: 24px;
    @include mq("sp") {
      margin-top: 14px;
    }
  }
}
