@import "../module/mixins";

.results {
  padding-top: 130px;
  background-color: #f3f3f3;
  &__container {
    padding: 0 0 80px 110px;
    background-color: $blackBack;
    position: relative;
    left: 93px;
    @include mq("sp") {
      padding: 0 0 40px 16px;
      position: static;
    }
  }
  &__swiper-slide {
    transition: 0.3s;
    width: 422px;
    height: 368px;
    @include mq("sp") {
      height: 251px;
    }
    &:hover {
      opacity: 0.6;
    }
  }
  &__swiper-pagination {
    position: static;
    text-align: left;
    margin-top: 48px;
    @include mq("sp") {
      margin-top: 24px;
      text-align: center;
      padding-right: 16px;
    }
  }
  .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
    background-color: #fff;
    width: 12px;
    height: 12px;
    &-active {
      background-color: #fff;
    }
  }
  &__title {
    padding: 80px 0;
    color: #fff;
    @include sectionTitle;
  }
  &__img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }
  &__card-body {
    padding: 20px;
    background-color: #fff;
    @include mq("sp") {
      padding: 12px;
    }
  }
  &__card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.6;
    @include mq("sp") {
      font-size: 15px;
    }
  }
  &__card-lead {
    margin-top: 20px;
    @include mq("sp") {
      font-size: 12px;
      margin-top: 12px;
    }
  }
  &__btn-link {
    @include mq("sp") {
      padding-right: 16px;
    }
  }
  &__btn {
    @include outlineBtn;
    text-transform: uppercase;
    margin: 40px auto 0 0;
    border: 1px solid #fff;
    color: #fff;
    @include mq("sp") {
      width: 100%;
    }
    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
}
