@import "../module/mixins";

.service {
  position: relative;
  margin-top: 130px;
  padding: 0 24px;
  background: linear-gradient(
    to bottom,
    $blackBack 0,
    $blackBack 400px,
    transparent 400px,
    transparent 100%
  );
  @include mq("sp") {
    margin-top: 20px;
    padding: 0 16px;
  }
  &__title {
    @include sectionTitle;
    padding: 80px 0;
    color: #fff;
    text-align: center;
    @include mq("sp") {
      padding: 40px 0;
    }
  }
  &__container {
    max-width: 960px;
    padding: 54px 48px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 5px 12px #3e3e3e;
    @include mq("sp") {
      padding: 40px 16px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq("sp") {
      display: block;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 26.736111%;
    @include mq("sp") {
      width: 100%;
      &:not(:first-child) {
        margin-top: 65px;
      }
    }
  }
  &__item-name {
    @include englishFont;
    order: 1;
    margin-top: 32px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.38;
    text-align: center;
    text-transform: uppercase;
    @include mq("sp") {
      margin-top: 28px;
      font-size: 18px;
    }
  }
  &__figure {
    order: 0;
    text-align: center;
  }
  &__desc {
    order: 2;
    margin-top: 20px;
    font-size: 14px;
    @include mq("sp") {
      margin-top: 24px;
    }
  }
}
